<!DOCTYPE html>
<html>
<head>
    <title>Inventory Stock Details</title>
</head>
<body>
    <h1>Product ID: {{ product_id }}</h1>
    <ul>
        {% for stock in stocks_details %}
            <li>
                <h3>Stock Name: {{ stock.product.product_name }}</h3>
                <p>Stock Quantity: {{ stock.quantity }}</p>
                <a href="{% url 'delete_inventory_stock_details' stock.id %}"><button>Delete</button></a>

                <a href="{% url 'edit_stock_details' stock.id %}"><button>Edit</button></a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
